@import "src/scss/mixins";
:host {
  .sideBar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--bg2);
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 50px;
    padding: 40px 30px;
  }
  .closeNavBar {
    translate: -250px;
  }
  .header {
    span {
      margin-right: 10px;
    }
  }

  ul {
    li {
      @include flex($ai: center);
      cursor: pointer;
      height: 30px;
      margin: 20px 0;
      gap: 20px;
      span:first-child {
        @include flex($ai: center, $jc: center);
        font-weight: bold;
        background-color: var(--primary);
        border-radius: 10px;
        height: 30px;
        width: 30px;
      }
    }
  }
  .icon {
  }
  .inputTitle {
    // padding: 0 10%;
    input {
      background-color: transparent;
      border: none;
      padding: 6px 0;
      font-size: 1rem;
      caret-color: var(--primary);
      &::placeholder {
        color: rgb(184, 184, 184);
      }
    }
  }
}
