<div class="sideBar" [ngClass]="{ closeNavBar: !toggleNav$ }">
  <div class="header">
    <span>Collections</span>
    <app-add-button (click)="addCollection()"></app-add-button>
  </div>

  <ul>
    <li *ngFor="let item of collections$ | async">
      <span>
        {{ item.title.substring(0, 1) }}
      </span>
      <span>
        {{ item.title }}
      </span>
    </li>
    <li *ngIf="showInput" class="inputTitle">
      <input
        type="text"
        #input
        (keyup.enter)="createCollection(input)"
        placeholder="Digite o titulo da coleção"
      />
    </li>
  </ul>
</div>
