:host {
  .sideBar {
    height: 100%;
    // width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--bg2);
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 50px;
  }
  .header,
  ul {
    padding: 10%;
  }
  ul {
    li {
      padding: 10px 0;
    }
  }
}
