<div class="sideBar" [ngClass]="{ closeNavBar: !toggleNav$ }">
  <div class="header">
    <span>Collections</span>
    <app-add-button (click)="addCollection()"></app-add-button>
  </div>

  <ul>
    <ng-template ngFor let-item [ngForOf]="collections$ | async">
    <li [routerLink]="['collection',item.id]">
      <span>
        {{ item.title.substring(0, 1).toUpperCase() }}
      </span>
      <span>
        {{ item.title }}
      </span>
    </li>
  </ng-template>
    <li *ngIf="showInput" class="inputTitle">
      <input
        type="text"
        #input
        (keyup.enter)="createCollection(input)"
        placeholder="Digite o titulo da coleção"
      />
    </li>
  </ul>
</div>
