:host {
  header {
    background-color: var(--bg2);
    height: 50px;
    display: flex;
    align-items: center;
    nav {
      display: flex;
      padding: 0 20px;
      gap: 30px;
    }
  }
  span {
    button {
      background-color: transparent;
      border: none;
    }
    a {
      display: flex;
      align-items: center;
      gap: 8px;
      color: white;
      font-size: 18px;
      i {
        font-size: 12px;
        cursor: pointer;
      }
    }
  }
}
