@import "src/scss/mixins";
:host {
  .container {
    background-color: var(--bg2);
    padding: 25px 15px;
    margin: 0 auto;
    border-radius: 0 0 12px 12px;
    padding: 20px;
    margin-top: -8px;
    z-index: 1;
  }
  form {
    @include flex($jc: space-between);
    gap: 3%;
    height: 100%;
    input {
      background-color: var(--bg1);
      //   padding: 5px;
      width: 200px;
      border: none;
      border-radius: 6px;
      text-align: center;
    }

    input[type="text"] {
      padding: 10px;
      margin-right: 20px;
    }

    input[type="date"] {
      padding: 0 0 0 10px;
    }

    ::-webkit-calendar-picker-indicator {
      background-color: var(--primary);
      margin-left: 10px;
      margin-right: 0;
      border-radius: 0 3px 3px 0;
      padding: 10px;
      font-size: 15px;
      cursor: pointer;
    }

    ::-webkit-datetime-edit-fields-wrapper {
      //   background: silver;
      //   margin: 0 3px;
    }
    ::-webkit-datetime-edit-text {
      //   color: red;
      //   padding: 0 0.3em;
    }

    button {
      border: none;
      padding: 10px;
      background-color: var(--primary);
      //   color: white;
      font-weight: bold;
      border-radius: 10px;
    }
  }
}
