@import "../../../scss/mixins";
:host {
  position: relative;
  .addTask {
    width: 100%;
    border: 2px solid var(--bg3);
    border-radius: 12px;
    padding: 12px;
    @include flex($ai: center);
    gap: 12px;
    cursor: pointer;
    button {
      width: 23px;
      height: 23px;
      border: none;
      border-radius: 8px;
      background-color: var(--primary);
    }
  }
  .tasksContainer {
    padding-top: 30px;
    span {
      margin: 10px;
    }
  }
}
