<div class="header">
  <button>
    <i class="fa-solid fa-angle-left"></i>
  </button>
  <h2>School</h2>
</div>
<div class="addTask" (click)="openFormTask()">
  <app-add-button></app-add-button>
  <span>Add a task</span>
</div>
<app-create-task-popup
  *ngIf="popUpCreateTask"
  (sendTaskForm)="createTask($event)"
></app-create-task-popup>
<div class="tasksContainer">
  <span>Tasks - 8</span>
  <ng-template ngFor let-item [ngForOf]="tasks">
    <app-card-task [task]="item"></app-card-task>
  </ng-template>
</div>
<div class="tasksContainer">
  <span>Completed - 2</span>
  <app-card-task></app-card-task>
</div>
