@import "../../../scss/mixins";
:host {
  .card {
    background-color: var(--bg2);
    border-radius: 14px;
  }
  .header {
    background-color: var(--bg3);
    padding: 16px;
    border-radius: 14px 14px 0 0;
  }
  .content {
    padding: 5px 0;
    li {
      gap: 16px;
      padding: 20px;
      label {
        display: block;
        position: relative;
        padding-left: 35px;
        // margin-bottom: 12px;
        cursor: pointer;
        // font-size: 22px;
        user-select: none;
        .text {
          @include flex($fd: column);
          gap: 2px;
          span:last-child {
            font-size: 12px;
            color: #d46171;
          }
        }
      }
    }
  }
  .footer {
    padding: 16px;
    text-align: center;
    border-top: 1px solid var(--bg3);
    cursor: pointer;
  }
}
