@import "src/scss/mixins";
:host {
  .card {
    @include flex($fd: column, $jc: space-between);
    & > div:first-child {
      background-color: var(--primary);
      width: 40px;
      height: 40px;
      @include flex($ai: center, $jc: center);
      border-radius: 10px;
    }
    .title {
      font-size: 1.2rem;
    }
    span {
      font-size: 0.8rem;
      color: var(--placeholder);
    }
    width: 150px;
    height: 150px;
    border-radius: 16px;
    padding: 20px;
    background-color: var(--bg3);
  }
}
