<div class="card">
  <div class="header">Design</div>
  <div class="content">
    <ul>
      <li>
        <label>
          <input type="checkbox" checked="checked" />
          <span class="checkmark"></span>
          <div class="text">
            <span>Prepare dribble shot</span>
            <span>Today 12:00</span>
          </div>
        </label>
      </li>
      <li>
        <label>
          <input type="checkbox" checked="checked" />
          <span class="checkmark"></span>
          <div class="text">
            <span>Prepare dribble shot</span>
            <span>Today 12:00</span>
          </div>
        </label>
      </li>
    </ul>
  </div>
  <div class="footer">
    <span> Go to Collection </span>
  </div>
</div>
