<main>
  <div class="content">
    <div class="header">
      <button>
        <i class="fa-solid fa-angle-left"></i>
      </button>
      <h2>School</h2>
    </div>
    <div class="addTask">
      <button>
        <i class="fa-solid fa-plus"></i>
      </button>
      <span>Add a task</span>
    </div>
    <div class="tasksContainer">
      <span>Tasks - 8</span>
      <app-card-task></app-card-task>
      <app-card-task></app-card-task>
    </div>
    <div class="tasksContainer">
      <span>Completed - 2</span>
      <app-card-task></app-card-task>
    </div>
  </div>
</main>
