@import "../../../scss/mixins";
:host {
  .card {
    background-color: var(--bg2);
    border-radius: 15px;
    margin: 10px 0;
  }
  .content {
    padding: 15px 12px;

    label {
      display: block;
      position: relative;
      padding-left: 35px;
      // margin-bottom: 12px;
      cursor: pointer;
      // font-size: 22px;
      user-select: none;
      .text {
        @include flex($fd: column);
        gap: 2px;
        span:last-child {
          font-size: 12px;
          color: #d46171;
        }
      }
    }
  }
}
