:root {
  --primary: #ae6ddd;
  --bg1: #17181e;
  --bg2: #292a38;
  --bg3: #373847;
  --swatch_1: #040406;
  --swatch_2: #573856;
  --swatch_3: #c83066;
  --swatch_4: #6f0993;
  --swatch_5: #d89372;
  --swatch_6: #baa5a9;
  --swatch_7: #795d9b;
  --swatch_8: #70c4bf;
  --swatch_9: #fc76a1;
  --swatch_10: #d6ba55;
  --placeholder: rgb(214, 214, 214);
}
